body {
	background-color: #2979FF;
	display: block;
	margin:8px;
	background: -webkit-linear-gradient(left top, #2979FF, #82B1FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #2979FF, #82B1FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #2979FF, #82B1FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #2979FF, #82B1FF); /* Standard syntax */
}

div {
	display: block;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #BBDEFB;
	-webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
	text-decoration: none;
}

#wrapper {
	min-height: 100%;
	margin: 0 auto 0;
	width: 55%;
	background-color: #BBDEFB;
	text-align: center;
	z-index: 0;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#header {
	background-image: url("TUDOCERTOHEADER.png");
	max-width: 775px;
	margin: 0 auto 0;
	min-height: 10%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
}

#headercontent{
	font-family: Verdana;
	color: white;
	font-size: 40px;
	margin-left: 150px;
}
	

#menu {
	min-height: 7%;
	margin: 0 auto 0;
	width: 60%;
	background-color: #1976D2;
	z-index: 2;
	text-align: center;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

#menucontent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#menu span {
	display: inline-block;
	padding: 10px;
	color: white;
	font-size: 28px;
	font-family: Verdana;
}


